<% include ../partials/header %>

<div class="row">
  <div class="col-lg-3">
    <p class="lead">Yelp Camp</p>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#"><%=campground.name %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#desc">Describtion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#map">Location</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#reviews">Reviews</a>
      </li>
    </ul>
    <div class="mb-4" id="map"></div>
  </div>
  <div class="col-lg-9">
    <div class="card">
      <img
        class="card-img-top"
        alt="<%= campground.name %>"
        src="<%=campground.image %>"
      />
      <div id="desc">
        <h6 class="card-header text-right py-1">
          £<%=campground.price%>/night
        </h6>
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h4 class="card-title"><a><%= campground.name %></a></h4>
            <div>
              <%if(currentUser && campground.author.id.equals(currentUser._id)
              || currentUser && currentUser.isAdmin){%>
              <a
                class="btn btn-sm btn-warning"
                href="/campgrounds/<%=campground.slug %>/edit"
                >Edit</a
              >
              <form
                class="delete-form"
                action="/campgrounds/<%=campground.slug %>?_method=DELETE"
                method="POST"
              >
                <button class="btn btn-sm btn-danger">Delete</button>
              </form>
              <%}%>
            </div>
          </div>
          <div class="float-right figure-caption">
            <% if (campground.rating === 0) { %>
            <h5>
                <em>No reviews yet.</em>
            </h5>
            <% } else { %>
            <p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star <% if (campground.rating > 1.5) { %> checked <% } %>"></span>
                <span class="fa fa-star <% if (campground.rating > 2.5) { %> checked <% } %>"></span>
                <span class="fa fa-star <% if (campground.rating > 3.5) { %> checked <% } %>"></span>
                <span class="fa fa-star <% if (campground.rating > 4.5) { %> checked <% } %>"></span>
                <em>(total reviews: <%= campground.reviews.length %>)</em>
            </p>
            <% } %>
          </div>
          <div class="pb-2">
            <form
              action="/campgrounds/<%= campground.slug %>/like"
              method="POST"
            >
              <div class="btn-group">
                <% if (currentUser && campground.likes.some(function (like) {
                return like.equals(currentUser._id) })) { %>
                <button class="btn btn-sm btn-primary">
                  <i class="fas fa-thumbs-up"></i> Liked (<%=
                  campground.likes.length %>)
                </button>
                <% } else { %>
                <button class="btn btn-sm btn-secondary">
                  <i class="fas fa-thumbs-up"></i> Like (<%=
                  campground.likes.length %>)
                </button>
                <% } %>
                <button
                  type="button"
                  class="btn btn-sm btn-outline-secondary"
                  data-toggle="modal"
                  data-target="#campgroundLikes"
                >
                  See more details
                </button>
              </div>
            </form>
          </div>
          <p class="card-text"><%= campground.description %></p>
          <p class="blockquote-footer">
            <em
              >Submitted by:
              <a href="/users/<%= campground.author.id %>"
                ><%= campground.author.username %></a
              >, <%= moment(campground.createdAt).fromNow() %></em
            >
          </p>
        </div>
      </div>
    </div>
    <div id="reviews" class="card border-top-0">
      <div
        class="card-header d-flex justify-content-between align-items-center"
      >
        <div>
        <a class="btn btn-primary <% if (currentUser && campground.reviews.some(function (review) {return review.author.id.equals(currentUser._id)})) { %> btn-secondary disabled  <% } %>" href="/campgrounds/<%= campground.slug %>/reviews/new">Write a New Review</a>
      </div>
        <a
          class="btn btn-success"
          href="/campgrounds/<%=campground.slug %>/comments/new"
          >Add New Comment</a
        >
      </div>
      <% if (campground.rating !== 0) { %>
        <div class="card-body border-bottom">
          <p><h5>Latest reviews for this campground:</h5></p>
          <hr>
          <% campground.reviews.slice(0, 4).forEach(function(review){ %>
          <div class="mb-3">
              <div class="d-flex justify-content-between">
                <div>
                  <strong><%= review.author.username %></strong>
                  <%- '<span class="fa fa-star checked"></span>'.repeat(review.rating) %><%- '<span class="fa fa-star"></span>'.repeat(5 - review.rating) %>
                </div>
                 <span class="font-weight-light small"><%= moment(review.updatedAt).fromNow() %></span>
              </div>
              <div class="col-md-12 pr-0">
                  <p><em>" <%= review.text %>"</em></p>
                  <% if(currentUser && review.author.id.equals(currentUser._id)||
                  currentUser && currentUser.isAdmin){ %>
                  <div class="text-right">
                    <a class="btn btn-sm btn-warning"
                      href="/campgrounds/<%=campground.slug %>/reviews/<%=review._id %>/edit">Edit</a>
                  <form class="delete-form" id="delete-form" action="/campgrounds/<%=campground.slug %>/reviews/<%=review._id %>?_method=DELETE" method="POST">
                      <input type="submit" class="btn btn-sm btn-danger" value="Delete">
                  </form>
                  </div>
                  <% } %>
              </div>
          </div>
          <hr>
          <% }); %>
          <div class="mb-0">
              <h6 class="text-right mb-0"><a href="/campgrounds/<%= campground.slug %>/reviews"><i class="fa fa-search" aria-hidden="true"></i> See all reviews</a></h6>
          </div>
        </div>
      <% } %>
      <div class="card-body">
        <% campground.comments.forEach(function(comment){ %>
        <div class="mb-3">
          <div class="d-flex justify-content-between">
            <strong><%= comment.author.username %></strong>
            <span class="font-weight-light small"
              ><%= moment(comment.createdAt).fromNow() %></span
            >
          </div>
          <div class="col-md-12 pr-0">
            <p><em>"<%= comment.text %>"</em></p>
            <%if(currentUser && comment.author.id.equals(currentUser._id) ||
            currentUser && currentUser.isAdmin){%>
            <div class="text-right">
              <a
                class="btn btn-sm btn-warning"
                href="/campgrounds/<%=campground.slug %>/comments/<%=comment._id%>/edit"
                >Edit</a
              >
              <form
                class="delete-form"
                action="/campgrounds/<%=campground.slug %>/comments/<%=comment._id%>?_method=DELETE"
                method="POST"
              >
                <input
                  type="submit"
                  class="btn btn-sm btn-danger"
                  value="Delete"
                />
              </form>
            </div>
            <%}%>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </div>
</div>
<!-- Campground Likes Modal -->
<div id="campgroundLikes" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Campground likes: <%= campground.likes.length %>
        </h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Liked by:</th>
            </tr>
          </thead>
          <tbody>
            <% campground.likes.forEach(function(like) { %>
            <tr>
              <td>
                <span class="badge"><i class="fas fa-user"></i></span
                ><a
                  href="/users/<%= like._id
                %>"
                  ><%= like.username %></a
                >
              </td>
            </tr>
            <% }); %> <% if (campground.likes.length === 0) { %>
            <tr>
              <td><em>No likes yet.</em></td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-secondary"
          data-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<script>
  function initMap() {
    var lat = <%= campground.lat %>;
    var lng = <%= campground.lng %>;
    var center = { lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 8,
      center: center,
      scrollwheel: false
    });
    var contentString = `
      <strong><%= campground.name %><br />
      <%= campground.location %></strong>
      <p><%= campground.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
      position: center,
      map: map
    });
    marker.addListener('click', function () {
      infowindow.open(map, marker);
    });
  }
</script>
<script
  async
  defer
  src="https://maps.googleapis.com/maps/api/js?key=<%=process.env.LOCAL_SRC_KEY%>&callback=initMap"
></script>

<% include ../partials/footer %>
